*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 	#FFCC66;
    width: 100%;
    height: 80px;
}

.navbar-text{
    font-size: 36px;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.input-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    flex: 1;
}

.input-title{
    font-size: 26px;
}

#usertext{
    margin-top: 10px;
    width: 500px;
    height: 150px;
    resize: none;
    font-size: 18px;
    padding: 10px;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-translate {
    border-radius: 28px;
    color: #000000;
    font-size: 20px;
    background: #FFCC66;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 2px solid #000000;
}

#btn-translate:hover {
    background: #ffc042;
    text-decoration: none;
    cursor: pointer;
}

.output-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    flex: 1;
}

.output-title{
    font-size: 26px;
}

#translation{
    margin-bottom: 10px;
    width: 500px;
    height: 150px;
    resize: none;
    font-size: 18px;
    padding: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: 	#FFCC66;
    height: 100px;
}

.footer-title{
    font-size: 28px;
}

.footer-text{
    margin-top: 15px;
    margin: 0 100px;
    line-height: 24px;
    text-align: center;
}
